package ${package}

import static org.junit.Assert.fail;


import org.junit.After;
import org.junit.AfterClass;
import org.junit.Before;
import org.junit.BeforeClass;
import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
import org.springframework.web.servlet.view.velocity.VelocityConfigurer;
import ${package}.${class};
/**
 * @author Sladjan Kuzmanovic
 *
 */

@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(locations = { "classpath*:/testContext.xml" })
public class ${testName}Test {

	private static final ${class} ${instance} = null;

	/**
	 * @throws java.lang.Exception
	 */
	@BeforeClass
	public static void setUpBeforeClass() throws Exception {
		${instance} = new ${class}();
	}

	/**
	 * @throws java.lang.Exception
	 */
	@AfterClass
	public static void tearDownAfterClass() throws Exception {
	}

	/**
	 * @throws java.lang.Exception
	 */
	@Before
	public void setUp() throws Exception {
	}

	/**
	 * @throws java.lang.Exception
	 */
	@After
	public void tearDown() throws Exception {
	}


	#foreach( $name in $names )
	/**
	 * Test method for {@link class.#methodName()}.
	 */
	@Test
	public void test${name.name}() {
  		${instance}.set${name.name}("$name.initValue");
		fail("Not yet implemented");
	}
 	#end
	

}
