<!-- template{XX}.vm -->

public ${class} init${class}()
{
   ${class} ${instance} = new ${class}();
#showme( $names $instance)
  return ${instance};
}

#macro( showme $names  $instance)
 #foreach( $name in $names )
  ${instance}.set${name.name}("$name.initValue");
 #end
#end

#macro( showmefirstVersion $names  $instance)
 #foreach( $name in $names )
  ${instance}.set${name.name}($name.type, "$name.initValue");
 #end
#end